! this are Xresources to make xterm look good
! put into ~/.Xresources
! after changing contents, run xrdb -merge .Xresources

xterm*background: grey11
xterm*boldMode: false
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
!xterm*font: -xos4-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
xterm*font: -misc-fixed-medium-r-semicondensed-*-13-*-*-*-*-*-*-*
xterm*boldFont: -misc-fixed-medium-r-semicondensed-*-13-*-*-*-*-*-*-*
xterm*foreground: white
xterm*loginshell: true
xterm*saveLines: 2048
!xterm*visualBell: true
xterm*bellIsUrgent: true

xscreensaver.Dialog.headingFont: -xos4-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont: -xos4-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont: -xos4-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont: -xos4-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont: -xos4-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont: -xos4-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont: -xos4-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*
